# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.venv/
venv/
env/

# Environment variables
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node
node_modules/

# Build files
dist/
build/

# Docker
*.tar

# Temporary files
*.tmp
*.temp